<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>
    <ion-title>
      HighwayRating
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let dataItem of DepartmentList" [routerLink]="[dataItem.highwayid]" color="light">
      <!-- <ion-thumbnail slot="start">
        <img src="../assets/icon/e32-gray.png">
      </ion-thumbnail> -->
      <!-- <ion-thumbnail>
      </ion-thumbnail>   -->
     
      <ion-avatar slot="start">
        <img [src]="picUrl1 + dataItem.highwayImageName">
      </ion-avatar>
      
        <ion-label>{{dataItem.highwayName}}</ion-label>
      
        <!-- <img class="imges" src="../assets/image/download.png"> -->
       
    </ion-item>
  </ion-list>
</ion-content>