.container{
display: flex;
align-items: center;
margin-top: 10px;
margin-bottom: 10px;
background-color: white;
}

.images{
height:30px;
}

#r{  
    color: darkgoldenrod;
}

td#wr{
font-weight: bold;
padding-left: 50px; 
padding-top: 20px;  
}

td{
    text-align: left;
}

#images2{
    height:30px;
    position: absolute ;
    }

    ion-content{
        --ion-background-color:lightgrey;
    }

    #second{
        background-color:white;

    }
    