<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  
    <ion-img class="your-img" src="../../assets/image/Highway-Lebuhraya-MCO-Bernama.png" ></ion-img>
  
  
  <div id="container">
    <div id="text">
      <ion-text>
        Expressway
      </ion-text>
    </div>
  <ion-button class="btn1"  color="secondary" shape="round" expand="block" routerLink="/rating">Rating</ion-button>
  <br>
  <ion-button class="btn2" color="secondary" shape="round" expand="block" routerLink="/tollfare">Tollfare</ion-button>
  </div>
</ion-content>
